body {
  background-color: #242582;
}

.card {
  margin-top: 50px;
  border: none;
  background-color: #242582;
  /* margin-bottom: 50px; */
}

.header {
  color: #e7ebe0ff;
  text-transform: uppercase;
  padding: 5px;
  font-size: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
