/* body {
  background-color: #242582;
}

.card {
  margin-top: 100px;
  border: none;
  background-color: #242582;
}

.header {
  background-color: #f64672;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
